/*index.css*/
h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 500;
  line-height: 1.2;
  color:#aa0c82;
  border-bottom: 1px solid blueviolet;
}

.delete {
  margin-right: 15px;
}

.row {
  padding-bottom: 15px;
}
p {
  font-size: 24px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.container{
  width: 900px;
}
body {
  background: -webkit-linear-gradient( -70deg, #bb6d98, #aa0c82 );
  background-size: 400% 400%;
  animation: gradient 6s ease infinite;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center
}
.main {
  background: #F9F9F9;
  border-radius: 1rem;
  box-shadow: 0 15px 20px rgb(0 0 0 / 20%);
  padding: 0.25rem 0;
}
#todo-list{
  margin-top: 20px;
  border-bottom: 1px solid blueviolet;
}
form{
  text-align: center; 
  margin-top: 20px;
  margin-bottom: 20px;
}
.btn-info {
  margin-left: 15px;
}